# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

[Unit]
Description=DTrace USDT operating normally
Documentation=man:dtprobed(8)
Requires=dtprobed.service
BindsTo=dtprobed.service
After=dtprobed.service
RefuseManualStart=true
RefuseManualStop=true

[Install]
WantedBy=basic.target
Also=dtprobed.service
